   <tr class="<%= cycle("odd", "even") %>">
      <td>
        <%= album.id %>
      </td>
                <td>
        <%= link_to album.title, admin_album_path(album) %>
      </td><td><%= album.uploads.count %></td>
                <td>
        <%= album.created_at %>
      </td>
      <td class="last">
        <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_album_path(album) %> |
        <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_album_path(album) %> |
        <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_album_path(album), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </td>
    </tr>