<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", polymorphic_url([:admin,@albumable,"albums"])  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_polymorphic_url([:admin,@albumable,"album"]) %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Albums</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.admin_album.title", :default => t("activerecord.labels.title", :default => "Title")) %>
          </th>
						<th>Uploads</th>
						<th>Albumable id</th>
						<th>Albumable Type</th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
      	<%= render :partial => @albums %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
