<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_albums_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_album_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_album_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admin_album.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</b>
          <%= @album.title %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_album.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @album.description %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_album.albumable_id", :default => t("activerecord.labels.albumable_id", :default => "Albumable")) %>:</b>
          <%= @album.albumable_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_album.albumable_type", :default => t("activerecord.labels.albumable_type", :default => "Albumable type")) %>:</b>
          <%= @album.albumable_type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_album.category_id", :default => t("activerecord.labels.category_id", :default => "Category")) %>:</b>
          <%= @album.category_id %>
        </p>
				<h1 style="border-bottom:1px solid black;padding-top:20px;">Album Options</h1>
	      <div class="wat-cf">
	        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_album_path(@album), :class => "button" %> 
	        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_album_path(@album), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
	      </div>
				<h1 style="border-bottom:1px solid black;padding-top:20px;">Uploads</h1>
				<div id="gallery" style="width:100%;float:left;">
					<ul class="list">
						<%= render :partial => "upload", :collection => @album.uploads.delete_if{|x|x.image_url.blank?} %>
					</ul>
				</div>
					<h1 style="border-bottom:1px solid black;padding-top:20px;width:100%;float:left;">Add an upload</h1>
					<div style="width:450px;">
					 <%= form_for([:admin,@album,@upload], :html => { :class => :form, :multipart => true }) do |f| -%>
			        <%= render :partial => "upload_fields", :locals => {:f => f} %>
							<div class="group navform wat-cf">
							  <button class="button" type="submit">
							    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Upload") %>
							  </button>
							  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
								<%= link_to t("web-app-theme.cancel", :default => "Cancel"), admin_albums_path, :class => "text_button_padding link_button" %>
							</div> 
			     <% end -%>
				</div>
   
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

<% content_for(:scripts) do %>
<script type="text/javascript">
$(function() {
	$('#gallery a').colorbox();
});
</script>
<% end %>