<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_partners_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_partner_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_partner_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admin_partner.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @partner.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_partner.website", :default => t("activerecord.labels.website", :default => "Website")) %>:</b>
          <%= @partner.website %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_partner.twitter", :default => t("activerecord.labels.twitter", :default => "Twitter")) %>:</b>
          <%= @partner.twitter %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_partner.bio", :default => t("activerecord.labels.bio", :default => "Bio")) %>:</b>
          <%= @partner.bio %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_partner.industry", :default => t("activerecord.labels.industry", :default => "Industry")) %>:</b>
          <%= @partner.industry %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_partner.position", :default => t("activerecord.labels.position", :default => "Position")) %>:</b>
          <%= @partner.position %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_partner.parnter_since", :default => t("activerecord.labels.parnter_since", :default => "Parnter since")) %>:</b>
          <%= @partner.parnter_since %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_partner.logo", :default => t("activerecord.labels.logo", :default => "Logo")) %>:</b>
          <%= @partner.logo %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_partner_path(@partner), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_partner_path(@partner), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>