<%= simple_form_for(@contact) do |f| %>


  <div class="field">
  <%= f.input :name %>
	</div>
  <div class="field">
  <%= f.input :surname %>
  </div>
  <div class="field">
    <%= f.input :email %>
  </div>
  <div class="field">
   	  <%= f.input :comment %>
  </div>
 
  <div class="actions">
    <%= f.submit "Request", :disabled => true %>
  </div>
  <p><br></p>
<% end %>
