<div class="grids">


<% if @page.name =="home" %>
<div class="fb-like" data-href="<%= request.url %>" data-send="false" data-width="450" data-show-faces="false"></div>
		<div id="posts" class="holder">
			<%= render :partial => @posts %>
		</div>

	<% content_for(:script) do %>
		<script>
		$(function(){

			var $container = $('#posts');
			$container.imagesLoaded( function(){
				$container.masonry({
				// options
				  itemSelector : '.post',
						columnWidth : 235
				});	
			});		  
		});
		</script>
	<% end %>
<% else %>
<h1><%= @page.title %></h1>
<div class="fb-like" data-href="<%= request.url %>" data-send="false" data-width="450" data-show-faces="false"></div>
<p><%= @page.body %></p>
<% end %>

</div>