<div class="fields">
  <div class="group">
    <%= f.label :title, t("activerecord.attributes.page.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field validate[required]' %>
    <span class="description">Ex: a simple text</span>
  </div>
 <div class="group">
    <%= f.label :description, t("activerecord.attributes.page.body", :default => "Description"), :class => :label %>
    <%= f.text_area :description, :class => 'text_area validate[required]' %>
    <span class="description">Ex: a simple description</span>
  </div>
 <div class="group">
    <%= f.label :keywords, t("activerecord.attributes.page.body", :default => "Keywords"), :class => :label %>
    <%= f.text_area :keywords, :class => 'text_area validate[required]' %>
    <span class="description">Ex: a simple list of keywords</span>
  </div>
	<%= f.input :metatagable_id, :as => :hidden %>
	<%= f.input :metatagable_type, :as => :hidden %>


</div>