//alert("<%= @category.subcategories.count %>");

<% unless @category.title == "Products" %>
$("#product_category_id").html('<%= escape_javascript(options_for_select(@subcategories.map{|x| [" - #{x.title}", x.id]})).html_safe %>');

	<% if @category.parent.present? and @category.parent.parent.blank?  %>
	//
		$("#product_category_id").append("<option value='<%= @category.parent_id %>'>Back</option>");
		$("#product_category_id").prepend("<option selected value='<%= @category.id %>'><%= @category.title %></option>");
	<% elsif  @category.parent.present? and @category.parent.parent.present? and @category.parent.parent.parent.blank? # case its second level %>
	//
		$("#product_category_id option").attr("disabled","disabled");
		$("#product_category_id").append("<option value='<%= @category.parent.id %>'>Back</option>");
		$("#product_category_id").prepend("<option selected value='<%= @category.id %>'><%= @category.title %></option>");


	<% end %>

<% else %>
$("#product_category_id").html('<%= escape_javascript(options_for_select(@subcategories.map{|x| [" #{x.title}", x.id]})).html_safe %>');

$("#product_category_id").prepend("<option selected value=''>None Selected</option>");
<% end %>