<div class="grids">
	<div id="post">
		<div class="post-image">
			<%= image_tag @post.albums.first.uploads.first.image_url(:large) %>

		</div>
		<div class="post-details span-7">
			<h1><%= @post.title %></h1>
			<div class="fb-like" data-href="http://ragboneman.com/" data-send="false" data-width="210" data-show-faces="false"></div>
			<div class="post-info-view">
				<p><%= @post.body %></p>
			</div>
			<div class="back">
				<p><%= link_to "Back to Collection",:back %></p>
			</div>
			<div class="post-info-view">
					<%= render :partial =>"shared/footer" %>		
			</div>
		</div>
		
	</div>
	<div class="fb-comments" data-href="http://www.ragboneman.com" data-num-posts="2" data-width="620" style="float:left;"></div>
</div>