<!DOCTYPE html>
<html>
<head>
  <title>Custom CMS developed by Feature Rich Ltd.</title>
	<%= stylesheet_link_tag :admin %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/admin"><%= image_tag "CMS_logo.png", :id=>"logo" %></a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
          <li><a href="<%= destroy_admin_session_path%>" data-method="delete" class="logout"><%= t("web-app-theme.logout", :default => "Logout") %></a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"> <li class="<%= controller.controller_path == 'admin/pages' ? 'active' : '' %>"><a href="<%= admin_pages_path %>">Pages</a></li> <li class="<%= controller.controller_path == 'admin/albums' ? 'active' : '' %>"><a href="<%= admin_albums_path %>">Albums</a></li> <li class="<%= controller.controller_path == 'admin/categories' ? 'active' : '' %>"><a href="<%= admin_categories_path %>">Categories</a></li> <li class="<%= controller.controller_path == 'admin/posts' ? 'active' : '' %>"><a href="<%= admin_posts_path %>">Posts</a></li>  <li class="<%= controller.controller_path == 'admin/staffs' ? 'active' : '' %>"><a href="<%= admin_staffs_path %>">Staff</a></li> <li class="<%= controller.controller_path == 'admin/partners' ? 'active' : '' %>"><a href="<%= admin_partners_path %>">Partners</a></li>  <li class="<%= controller.controller_path == 'admin/contacts' ? 'active' : '' %>"><a href="<%= admin_contacts_path %>">Contacts</a></li> <li class="<%= controller.controller_path == 'admin/products' ? 'active' : '' %>"><a href="<%= admin_products_path %>">Products</a></li></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p><b>CMS</b> by Feature Rich ltd. Copyright &copy; <%= Time.now.year %>.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
	<%= yield :scripts %>

            
</body>
</html>
