<!DOCTYPE html>
<html>
  <head>
   <%= display_meta_tags :site => 'Rag & Bone Man' %>
    <%= stylesheet_link_tag 'blueprint/screen',:application %>
  	<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
		<%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
		
        <%# render :partial =>"shared/breadcrumbs" %>

    <div id="home" class="container">
      <header id="top"  class="container">
        <div id="logo_container">
          <%= link_to(image_tag("logo-white.png", :width => "300", :id=>"flogo"), root_url,:id=>"logo") %>
   
        </div>
       <nav id="main">
          <%= render_navigation %>
          <%# render :partial => "shared/side_foot" %>
          </nav>
      </header>

			<section id="main" class="span-24">
				
	      <% flash.each do |name, msg| %>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <% end %>
				<%= content_tag :h1, yield(:title) if show_title? %>				
      	<%= yield %>
			</section>
			<footer>
        <%= render :partial => "shared/footer" %>
      </footer>
    </div>

    <%= yield(:script) %>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=185468488191070";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
